<!DOCTYPE html>
<html>
  <head>
    {% block title %} <title>Chronos</title> {% endblock %}

    {% block styles %}
      <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/dist/css/bootstrap.min.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/dist/css/bootstrap-theme.min.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename='tablesorter/css/theme.bootstrap.css')}}">
    {% endblock %}

    {% block scripts %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='bootstrap/dist/js/bootstrap.min.js') }}"></script>
    {% endblock %}
  </head>
  <body>

{% block navbar %}
<nav class="navbar navbar-default" role="navigation">
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <a class="brand" href="/"><h1 id="logo">Chronos</h1></a>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
      <button type="button" class="btn btn-success">New Job</button>
    </form>
    <ul class="nav navbar-nav">
      <li><p class="navbar-text">Running Jobs: <span class="label label-info">42</span></p></li>
      <li><p class="navbar-text">Failed Jobs: <span class="label label-danger">17</span></p></li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
{% endblock %}
  </body>
</html>
