<!DOCTYPE html>
<html>
  <head>
    {% block title %} <title>Chronos</title> {% endblock %}

    {% block styles %}
      <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/dist/css/bootstrap.min.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/dist/css/bootstrap-theme.min.css')}}">
      <link rel="stylesheet" href="{{url_for('static', filename='tablesorter/css/theme.bootstrap.css')}}">
      <link rel="stylesheet" href="//jquery.bassistance.de/tooltip/jquery.tooltip.css"> 
    {% endblock %}

    {% block scripts %}
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="{{ url_for('static', filename='bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="//jquery.bassistance.de/tooltip/jquery.tooltip.js"></script>
    {% endblock %}
  </head>
  <body>

{% block navbar %}
<nav class="navbar navbar-default" role="navigation">
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><button type="button" class="btn btn-success navbar-btn" id="new_job">New Job</button></li>
      <li><button type="button" class="btn btn-danger navbar-btn" id="delete_job">Delete a Job</button></li>
      <li><p class="navbar-text">Total Jobs: <span class="label label-primary">{{ total_jobs }}</span></p></li>
      <li><p class="navbar-text">Failed Jobs: <span class="label label-danger">{{ failed_jobs }}</span></p></li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
{% endblock %}
  </body>
</html>
