{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<!-- Tablesorter plugin -->
<script src="{{ url_for('static', filename='tablesorter/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ url_for('static', filename='tablesorter/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/chronos_tablesort.js') }}"></script>
<script src="{{ url_for('static', filename='js/chronos_tooltips.js') }}"></script>
<script src="{{ url_for('static', filename='js/chronos_buttons.js') }}"></script>
<script src="{{ url_for('static', filename='js/chronos_jquery_misc.js') }}"></script>
{% endblock %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">Mouseover for command text. Search is fuzzy. Filters can handle inequalities as well as equalities. </div>
  <table id="jobtable" class="table tablesorter">
    <thead>
      <tr>
        <th>Name</th>
        <th>Owner</th>
        <th>Parents</th>
        <th>Disabled</th>
        <th>Status</th>
        <th>Successes</th>
        <th>Errors</th>
        <th>Last Success</th>
        <th>Last Error</th>
        <th>99%</th>
        <th>95%</th>
        <th>75%</th>
        <th>50%</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in entries %}
      <tr title="Command: {{entry.command}}">
        <td>
          <div class="dropdown">
            <a href="#" id="dropdown.{{entry.name}}" data-toggle="dropdown">{{entry.name |truncate(30, True)}}</a>
            <ul class="dropdown-menu" style="background:none; border:none; box-shadow:none;" role="menu" aria-labelledby="d{{entry.name}}">
                <li class="btn-group">
                  <button class="btn btn-success" id="run.{{entry.name}}"><span class="glyphicon glyphicon-play"></span></button>
                  <button class="btn btn-warning" onclick="buildEditJobModal( '{{entry.name}}', '{{entry.command}}', '{{entry.owner}}', {%if entry.parents is defined%}{{entry.parents |safe}}{% else %}[]{% endif %}, '{{entry.schedule}}', '{{entry.disabled}}' )" id="edit.{{entry.name}}" data-toggle="modal" data-target="#editModal"><span class="glyphicon glyphicon-wrench"></span></button>
                  <button class="btn btn-danger" id="kill.{{entry.name}}"><span class="glyphicon glyphicon-stop"></span></button>
                </li>
            </ul>
          </div>
        </td>
        <td style="overflow:hidden; width:80px">{{entry.owner |truncate(30, True)}}</td>
        <td>{{entry.parents |truncate(40, True)}}</td>
        <td>{{entry.disabled}}</td>
        <td>{{entry.lastStatus}}</td>
        <td>{{entry.successCount}}</td>
        <td>{{entry.errorCount}}</td>
        <td>{{entry.lastSuccess}}</td>
        <td>{{entry.lastError}}</td>
        <td>{{entry.stats["99thPercentile"]}}</td>
        <td>{{entry.stats["95thPercentile"]}}</td>
        <td>{{entry.stats["75thPercentile"]}}</td>
        <td>{{entry.stats["median"]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<!-- Edit Modal -->
<div class="modal fade" id="editModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="editModalLabel">Edit job_name_here</h4>
      </div>
      <form class="form-horizontal" id="editJobForm" role="form" action="/edit" method="post">
        <div class="modal-body">
          <div class="form-group">
            <input type="hidden" class="form-control" name="nameInput" id="nameInput" placeholder="job_name" value="">
          </div>
          <div class="form-group">
            <label for="commandInput">Command</label>
            <input type="text" class="form-control" name="commandInput" id="commandInput" placeholder="job_command" value="">
          </div>
          <div class="form-group">
              <label for="ownerInput">Owner</label>
              <input type="text" class="form-control" name="ownerInput" id="ownerInput" placeholder="job_owner" value="">
          </div>
          <div class="form-group" id="customEditFields">
          <!-- JQuery will programatically insert the schedule editing field or parent editing field. -->
          </div>
          <div class="form-group">
            <label><input type="radio" name="statusInput" id="statusInputEnabled" value="enabled"> Enable Job</label><br>
            <label><input type="radio" name="statusInput" id="statusInputDisabled" value="disabled"> Disable Job</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" id="newjob-modal-submit" class="btn btn-primary" value="Save Changes">
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- New job modal -->
<div class="modal fade" id="newJobModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="newJobModalLabel">Create new job</h4>
      </div>
      <form class="form-horizontal" id="newJobForm" role="form" action="/create" method="post">
        <div class="modal-body">
          <div class="form-group">
            <label for="newNameInput">Name</label>
            <input type="text" class="form-control" name="newNameInput" id="newNameInput" placeholder="job_name" value="">
          </div>
          <div class="form-group">
            <label for="newCommandInput">Command</label>
            <input type="text" class="form-control" name="newCommandInput" id="newCommandInput" placeholder="job_command" value="">
          </div>
          <div class="form-group">
            <label for="newOwnerInput">Owner</label>
            <input type="text" class="form-control" name="newOwnerInput" id="newOwnerInput" placeholder="job_owner" value="">
          </div>
          <div class="form-group">
            <label for="newParentsInput">Parents</label>
            <input type="text" class="form-control" name="newParentsInput" id="newParentsInput" placeholder="job_parent1, job_parent2" value="">
          </div>
          <div class="form-group">
            <div class="col-xs-2">
              <label for="newRepeatsInput">Repeats</label>
              <input type="text" class="form-control" name="newRepeatsInput" id="newRepeatsInput" placeholder="∞" value="">
            </div>
            <div class="col-xs-4">
              <label for="newDateInput">Launch Day</label>
              <input type="text" class="form-control" name="newDateInput" id="newDateInput" placeholder="YYYY-MM-DD" value="">
            </div>
            <div class="col-xs-3">
              <label for="newTimeInput">Launch Time</label>
              <input type="text" class="form-control" name="newTimeInput" id="newTimeInput" placeholder="HH:MM:SS" value="">
            </div>
            <div class="col-xs-3">
              <label for="newPeriodInput">Period</label>
              <input type="text" class="form-control" name="newPeriodInput" id="newPeriodInput" placeholder="T24H or T1D or similar" value="">
            </div>
          </div>
          <div class="form-group">
            <label><input type="radio" name="newStatusInput" id="newStatusInputEnabled" value="enabled" checked> Enable Job</label><br>
            <label><input type="radio" name="newStatusInput" id="newStatusInputDisabled" value="disabled"> Disable Job</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" id="newjob-modal-submit" class="btn btn-primary" value="Create">
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
