{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<!-- Tablesorter plugin -->
<script src="{{ url_for('static', filename='tablesorter/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ url_for('static', filename='tablesorter/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/chronos_tablesort.js') }}"></script>
{% endblock %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">Shift-click to sort on multiple columns. Filters can take inequalities as well as equalities! </div>
  <table id="jobtable" class="table tablesorter">
    <thead>
      <tr>
        <th>Name</th>
        <th>Owner</th>
        <th>Successes</th>
        <th>Errors</th>
        <th>Last Success</th>
        <th>Last Error</th>
        <th>Async</th>
        <th>Disabled</th>
        <th>99%</th>
        <th>95%</th>
        <th>75%</th>
        <th>50%</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Fooification</td>
        <td>Matt</td>
        <td>25</td>
        <td>0</td>
        <td>2013-10-29 15:17:22</td>
        <td>NONE</td>
        <td>False</td>
        <td>False</td>
        <td>1192</td>
        <td>1085</td>
        <td>754</td>
        <td>230</td>
      </tr>
      <tr>
        <td>Hoorah</td>
        <td>Matt</td>
        <td>20</td>
        <td>19</td>
        <td>2013-12-20 10:00:00</td>
        <td>2013-8-14 12:00:00</td>
        <td>False</td>
        <td>True</td>
        <td>1300</td>
        <td>1100</td>
        <td>850</td>
        <td>550</td>
      </tr>
      <tr>
        <td>Fooification</td>
        <td>Matt</td>
        <td>25</td>
        <td>0</td>
        <td>2013-10-29 15:17:22</td>
        <td>NONE</td>
        <td>False</td>
        <td>False</td>
        <td>1192</td>
        <td>1085</td>
        <td>754</td>
        <td>230</td>
      </tr>
      <tr>
        <td>Hoorah</td>
        <td>Matt</td>
        <td>20</td>
        <td>19</td>
        <td>2013-12-20 10:00:00</td>
        <td>2013-8-14 12:00:00</td>
        <td>False</td>
        <td>True</td>
        <td>1300</td>
        <td>1100</td>
        <td>850</td>
        <td>550</td>
      </tr>
      <tr>
        <td>Fooification</td>
        <td>Matt</td>
        <td>25</td>
        <td>0</td>
        <td>2013-10-29 15:17:22</td>
        <td>NONE</td>
        <td>False</td>
        <td>False</td>
        <td>1192</td>
        <td>1085</td>
        <td>754</td>
        <td>230</td>
      </tr>
      <tr>
        <td>Hoorah</td>
        <td>Matt</td>
        <td>20</td>
        <td>19</td>
        <td>2013-12-20 10:00:00</td>
        <td>2013-8-14 12:00:00</td>
        <td>False</td>
        <td>True</td>
        <td>1300</td>
        <td>1100</td>
        <td>850</td>
        <td>550</td>
      </tr>
      <tr>
        <td>Fooification</td>
        <td>Matt</td>
        <td>25</td>
        <td>0</td>
        <td>2013-10-29 15:17:22</td>
        <td>NONE</td>
        <td>False</td>
        <td>False</td>
        <td>1192</td>
        <td>1085</td>
        <td>754</td>
        <td>230</td>
      </tr>
      <tr>
        <td>Hoorah</td>
        <td>Matt</td>
        <td>20</td>
        <td>19</td>
        <td>2013-12-20 10:00:00</td>
        <td>2013-8-14 12:00:00</td>
        <td>False</td>
        <td>True</td>
        <td>1300</td>
        <td>1100</td>
        <td>850</td>
        <td>550</td>
      </tr>
      <tr>
        <td>Fooification</td>
        <td>Matt</td>
        <td>25</td>
        <td>0</td>
        <td>2013-10-29 15:17:22</td>
        <td>NONE</td>
        <td>False</td>
        <td>False</td>
        <td>1192</td>
        <td>1085</td>
        <td>754</td>
        <td>230</td>
      </tr>
      <tr>
        <td>Hoorah</td>
        <td>Matt</td>
        <td>20</td>
        <td>19</td>
        <td>2013-12-20 10:00:00</td>
        <td>2013-8-14 12:00:00</td>
        <td>False</td>
        <td>True</td>
        <td>1300</td>
        <td>1100</td>
        <td>850</td>
        <td>550</td>
      </tr>
      <tr>
        <td>Fooification</td>
        <td>Matt</td>
        <td>25</td>
        <td>0</td>
        <td>2013-10-29 15:17:22</td>
        <td>NONE</td>
        <td>False</td>
        <td>False</td>
        <td>1192</td>
        <td>1085</td>
        <td>754</td>
        <td>230</td>
      </tr>
      <tr>
        <td>Hoorah</td>
        <td>Matt</td>
        <td>20</td>
        <td>19</td>
        <td>2013-12-20 10:00:00</td>
        <td>2013-8-14 12:00:00</td>
        <td>False</td>
        <td>True</td>
        <td>1300</td>
        <td>1100</td>
        <td>850</td>
        <td>550</td>
      </tr>
      <tr>
        <td>Fooification</td>
        <td>Matt</td>
        <td>25</td>
        <td>0</td>
        <td>2013-10-29 15:17:22</td>
        <td>NONE</td>
        <td>False</td>
        <td>False</td>
        <td>1192</td>
        <td>1085</td>
        <td>754</td>
        <td>230</td>
      </tr>
      <tr>
        <td>Hoorah</td>
        <td>Matt</td>
        <td>20</td>
        <td>19</td>
        <td>2013-12-20 10:00:00</td>
        <td>2013-8-14 12:00:00</td>
        <td>False</td>
        <td>True</td>
        <td>1300</td>
        <td>1100</td>
        <td>850</td>
        <td>550</td>
      </tr>
      <tr>
        <td>Fooification</td>
        <td>Matt</td>
        <td>25</td>
        <td>0</td>
        <td>2013-10-29 15:17:22</td>
        <td>NONE</td>
        <td>False</td>
        <td>False</td>
        <td>1192</td>
        <td>1085</td>
        <td>754</td>
        <td>230</td>
      </tr>
      <tr>
        <td>Hoorah</td>
        <td>Matt</td>
        <td>20</td>
        <td>19</td>
        <td>2013-12-20 10:00:00</td>
        <td>2013-8-14 12:00:00</td>
        <td>False</td>
        <td>True</td>
        <td>1300</td>
        <td>1100</td>
        <td>850</td>
        <td>550</td>
      </tr>
      <tr>
        <td>Fooification</td>
        <td>Matt</td>
        <td>25</td>
        <td>0</td>
        <td>2013-10-29 15:17:22</td>
        <td>NONE</td>
        <td>False</td>
        <td>False</td>
        <td>1192</td>
        <td>1085</td>
        <td>754</td>
        <td>230</td>
      </tr>
      <tr>
        <td>Hoorah</td>
        <td>Matt</td>
        <td>20</td>
        <td>19</td>
        <td>2013-12-20 10:00:00</td>
        <td>2013-8-14 12:00:00</td>
        <td>False</td>
        <td>True</td>
        <td>1300</td>
        <td>1100</td>
        <td>850</td>
        <td>550</td>
      </tr>
      <tr>
        <td>Fooification</td>
        <td>Matt</td>
        <td>25</td>
        <td>0</td>
        <td>2013-10-29 15:17:22</td>
        <td>NONE</td>
        <td>False</td>
        <td>False</td>
        <td>1192</td>
        <td>1085</td>
        <td>754</td>
        <td>230</td>
      </tr>
      <tr>
        <td>Hoorah</td>
        <td>Matt</td>
        <td>20</td>
        <td>19</td>
        <td>2013-12-20 10:00:00</td>
        <td>2013-8-14 12:00:00</td>
        <td>False</td>
        <td>True</td>
        <td>1300</td>
        <td>1100</td>
        <td>850</td>
        <td>550</td>
      </tr>
    </tbody>
  </table>

{% endblock %}
