{% extends "base.html" %}

{% block scripts %}
{{ super() }}
<!-- Tablesorter plugin -->
<script src="{{ url_for('static', filename='tablesorter/js/jquery.tablesorter.min.js') }}"></script>
<script src="{{ url_for('static', filename='tablesorter/js/jquery.tablesorter.widgets.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/chronos_tablesort.js') }}"></script>
{% endblock %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">Mouseover for command text. Search is fuzzy, Filters can take inequalities as well as equalities! </div>
  <table id="jobtable" class="table tablesorter">
    <thead>
      <tr>
        <th>Name</th>
        <th>Owner</th>
        <th>Successes</th>
        <th>Errors</th>
        <th>Last Success</th>
        <th>Last Error</th>
        <th>Disabled</th>
        <th>99%</th>
        <th>95%</th>
        <th>75%</th>
        <th>50%</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in entries %}
      <tr>
        <td>{{entry.name}}</td>
        <td>{{entry.owner}}</td>
        <td>{{entry.lastStatus}}</td>
        <td>{{entry.successCount}}</td>
        <td>{{entry.errorCount}}</td>
        <td>{{entry.lastSuccess}}</td>
        <td>{{entry.lastError}}</td>
        <td>{{entry.disabled}}</td>
        <td>{{entry.stats["99thPercentile"]}}</td>
        <td>{{entry.stats["95thPercentile"]}}</td>
        <td>{{entry.stats["75thPercentile"]}}</td>
        <td>{{entry.stats["50thPercentile"]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
