<ul class="nav job-detail-nav">
  <li class="pull-left nav-item title">
    Dependency Graph
  </li>

  <li class="pull-right nav-item"
      data-lightbox-close="true">✕</li>
</ul>

<div class="row-fluid">
  <div class="span3 graph-filter-container">
  </div>

  <div class="span12 graph-area-container">
    <div id="graph-area"></div>
  </div>

</div>
