<ul class="nav job-detail-nav">
  <li class="pull-left nav-item nav-item-tooltip edit"
      data-toggle="tooltip"
      data-title="Edit Job"
      data-placement="bottom">
    <i class="icon-pencil"></i>
  </li>
  <li class="pull-left nav-item nav-item-tooltip run"
      data-toggle="tooltip"
      data-title="Run Job"
      data-placement="bottom">
    <i class="icon-play"></i>
  </li>
  <li class="pull-left nav-item nav-item-tooltip kill"
      data-toggle="tooltip"
      data-title="Kill Job"
      data-placement="bottom">
    <i class="icon-stop"></i>
  </li>
  <li class="pull-left nav-item nav-item-tooltip duplicate"
      data-toggle="tooltip"
      data-title="Duplicate Job"
      data-placement="bottom">
      <i class="icon-file"></i>
  </li>
  <li class="pull-left nav-item nav-item-tooltip view-graph"
    data-job-id="{{name}}"
    data-title="View Dependency Graph for {{name}}"
    data-toggle="tooltip"
    data-placement="bottom">
    <i class="icon-retweet"></i>
  </li>
  <li class="pull-left nav-item nav-item-tooltip delete"
      data-toggle="tooltip"
      data-title="Destroy Job"
      data-placement="bottom">
    <i class="icon-trash"></i>
  </li>
  <li class="pull-left nav-item nav-item-tooltip save"
      data-toggle="tooltip"
      data-title="Save Job"
      data-placement="bottom">
    <i class="icon-ok"></i>  Save
  </li>
  <li class="pull-left nav-item nav-item-tooltip create"
      data-toggle="tooltip"
      data-title="Create Job"
      data-placement="bottom">
    <i class="icon-ok"></i> Create
  </li>

  <li class="pull-left nav-item nav-item-tooltip cancel"
      data-toggle="tooltip"
      data-title="cancel"
      data-placement="bottom">
    <i class="icon-remove"></i>  Cancel
  </li>

  <li class="pull-left toggle no-select toggleName">{{name}}</li>
  <li class="pull-right nav-item nav-item-tooltip close"
      data-toggle="tooltip"
      data-title="close"
      data-placement="bottom">✕</li>
</ul>
