<li class="item" data-cid="{{cid}}">
  <div class="span9 job-name">{{name}}</div>
  <div class="span3 last-run">
    <span class="count"
          data-rv-class-count-success="job.lastRunSuccess"
          data-rv-class-count-error="job.lastRunError"
          data-rv-class-count-neutral="job.lastRunFresh"
          data-rv-title="job.lastRunDescr"
          data-rv-data-original-title="job.lastRunDescr"
          data-rv-text="job.lastRunStatus"
          data-animation="true"
          data-delay="{show: 500, hide: 100}"
          data-toggle="tooltip"></span>
  </div>
</li>
