<div class="span9 job-name">{{name}}</div>
<div class="hidden job-owner" data-rv-text="job.owner">{{owner}}</div>
<div class="span1 ignore">
  <a class="view-graph ignore" href="#"
      data-job-id="{{name}}"
      data-title="View Dependency Graph for {{name}}"
      data-toggle="tooltip">
    <i class="icon-retweet ignore"></i>
  </a>
</div>
<div class="span2 last-run">
  <span class="last-run count"
        data-rv-class-count-success="job.lastRunSuccess"
        data-rv-class-count-error="job.lastRunError"
        data-rv-class-count-neutral="job.lastRunFresh"
        data-rv-class-count-disabled="job.disabled"
        data-rv-data-title="job:toData | lastRunDescr"
        data-rv-text="job.lastRunStatus"
        data-container=".app"
        data-animation="true"
        data-html="true"
        data-delay="{show: 500, hide: 100}"
        data-toggle="tooltip"></span>
</div>
