{{#if percentiles}}
<div class="detail">Job runtime (percentiles)</div>
<ul class="inline stats-view">
{{#each percentiles}}
  <li>
  <span class="badge badge-success badge-percentile">{{percentile}}</span>
  <span>{{value}}</span>
  </li>
{{/each}}
</ul>
{{else}}
<div class="detail">No stats available for job.</div>
{{/if}}
