<ul class="nav job-detail-nav">
  <li class="pull-right nav-item close" title="Close">✕</li>
  <li class="pull-left nav-item nav-item-tooltip edit"
      data-toggle="tooltip"
      data-title="Edit"
      data-placement="bottom">
    <i class="icon-pencil"></i>
  </li>
  <li class="pull-left nav-item nav-item-tooltip run"
      data-toggle="tooltip"
      data-title="Force Run"
      data-placement="bottom">
    <i class="icon-play"></i>
  </li>
  <li class="pull-left nav-item nav-item-tooltip duplicate"
      data-toggle="tooltip"
      data-title="Duplicate"
      data-placement="bottom">
      <i class="icon-copy"></i>
  </li>
  <li class="pull-left nav-item nav-item-tooltip view-graph"
    data-job-id="{{name}}"
    data-title="View Dependency Graph"
    data-toggle="tooltip"
    data-placement="bottom">
    <i class="icon-retweet"></i>
  </li>
  <li class="pull-left nav-item nav-item-tooltip delete"
      data-toggle="tooltip"
      data-title="Destroy"
      data-placement="bottom">
    <i class="icon-trash"></i>
  </li>
  <li class="pull-left nav-item nav-item-tooltip save">
    <i class="icon-ok"></i> Save
  </li>
  <li class="pull-left nav-item nav-item-tooltip create">
    <i class="icon-ok"></i> Create
  </li>

  <li class="pull-left nav-item nav-item-tooltip cancel">
    <i class="icon-remove"></i> Cancel
  </li>

  <li class="pull-left toggle toggleName">{{name}}</li>
</ul>
