<div class="alert alert-block fade in {{#alertClass}}{{.}}{{/alertClass}}">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{#create}}
  Successfully created job '{{jobName}}'
  {{/create}}
  {{#save}}
  Successfully updated job '{{jobName}}'
  {{/save}}
</div>
