<div class="alert alert-block fade in {{#alertClass}}{{.}}{{/alertClass}}">
  <button type="button" class="close" data-dismiss="alert">&times;</button>

  {{#create}}
  <h4>Successfully created job '{{jobName}}'</h4>
  {{/create}}
  {{#save}}
  <h4>Successfully updated job '{{jobName}}'</h4>
  {{/save}}
</div>
