<a class="brand" href="/#">
  <h1 id="logo">Chronos</h1>
</a>

<div class="search-wrapper">
  <form id="search-form">
    <i class="icon-search"></i>
    <input type="text" class="span12" id="search-filter" placeholder="Search by job name, status or owner" />
  </form>
</div>

<ul class="nav nav-list stat-menu">
  <li class="no-select total-jobs">
    <div class="stat-count all-jobs-count"
         data-rv-text="jobs.length">0</div>
    <div class="stat-label">Total Jobs</div>
  </li>

  <li class="no-select total-jobs">
    <div class="stat-count failed-jobs-count"
         data-rv-text="jobs:errCount < .lastRunStatus">0</div>
    <div class="stat-label">Failed Jobs</div>
  </li>
</ul>

<div>
  <button class="btn btn-block clear-btn view-graph">
    <i class="icon-retweet"></i> Dependency Graph
  </button>
  <button class="btn btn-block clear-btn new-job">✚ New Job</button>
  <a class="btn btn-block clear-btn" href="stats.html">
    Runtime statistics
  </a>
</div>

<div class="menu-footer text-center" id="btn-bg">
  <button class="btn btn-bg btn-bg-tranquility"
    data-theme="tranquility"
    id="btn-bg-tranquility"
    title="Tranquility"></button>
  <button class="btn btn-bg btn-bg-prowess"
    data-theme="prowess"
    id="btn-bg-prowess"
    title="Prowess"></button>
  <button class="btn btn-bg btn-bg-serenity"
    data-theme="serenity"
    id="btn-bg-serenity"
    title="Serenity"></button>
</div>
