<a class="brand" href="/">
  <h1 id="logo">Chronos</h1>
</a>

<div class="search-wrapper width">
  <form id="search-form">
    <i class="icon-search"></i>
    <input type="text" class="span12" id="search-filter" placeholder="Search by job name, status or owner" />
  </form>
</div>

<ul class="nav nav-list width stat-menu">
  <li class="no-select total-jobs">
    <div class="stat-count all-jobs-count"
         data-rv-text="jobs.length">0</div>
    <div class="stat-label">Total Jobs</div>
  </li>

  <li class="no-select total-jobs">
    <div class="stat-count failed-jobs-count"
         data-rv-text="jobs:errCount < .lastRunStatus">0</div>
    <div class="stat-label">Failed Jobs</div>
  </li>
</ul>

<div style="text-align:center">
  <button class="btn width clear-btn pull-right view-graph">
    <i class="icon-retweet"></i> Dependency Graph
  </button>

  <button class="btn width clear-btn pull-right new-job">✚ New Job</button>
  <a href="stats.html" style="color:White">Jobs sorted by runtime statistics</a>
</div>
