<div class="span9 header-name">
  <span>Name</span>
  <span class="toggle down">▼</span>
  <span class="toggle up hide">▲</span>
</div>
<div class="span3 header-last-run">
  <span>Last</span>
  <span class="toggle down">▼</span>
  <span class="toggle up hide">▲</span>
</div>
