/* select2 Overrides */
.select2-container,
.select2-container-active .select2-choice,
.select2-container-active .select2-choices,
.select2-container-multi .select2-choices .select2-search-field input {
  outline: 0;
  .box-shadow(none);
  border-width: 1px;
}

.details-wrapper .select2-container .select2-search-field {
  .select2-default {
    .base-input-styles;
    .field-input-styles;

    font-size: 15px;
    text-transform: none;
  }
}

.lightbox .select2-container-multi .select2-choices .select2-search-field input {
  padding: 4px 20px 4px 5px;
}

.select2-container-multi .select2-choices .select2-search-choice {
  .box-shadow(inset 1px 1px 9px rgba(0,0,0,0.4));
  padding: 8px 12px 8px 22px;
  line-height: 1;
  margin: 3px 0 3px 5px;
  .field-input;

  .children, .children .child {
    display: block;
    margin: 0;
    float: none;
  }

  a,
  .word {
    .field-input-hover-state;
  }

  .select2-search-choice-close {
    top: 9px;
    left: 7px;
  }

  &:hover {
    .box-shadow(inset 2px 2px 10px rgba(0,0,0,0.5));
  }
}

.job-detail {
  .select2-container-multi .select2-choices .select2-search-field input {
    background-color: transparent;
    outline: none;
    border-width: 0;
  }
}

.select2-container-multi .select2-search-choice-close {
  top: 7px;
}

.remove-outline {
  outline: 0 none !important;
  border: 0 none !important;
}

.select2-container .select2-choice {
  background-color: #fff;
  #gradient > .directional(top, #eee 1%, #fff 15%);
  border-color: #AAA;
  border-width: 1px;
  border-style: solid;
}

.select2-container,
.select2-container-active {
  .select2-choices,
  .select2-choice {
    .remove-outline;
  }
}
.select2-search input {
  .remove-outline;
}

/** Graph specific select2 **/
@graphColor01: #f4f4f4;
@graphColor02: #f0f0f0;
@graphColor03: #e8e8e8;
@graphColor04: #eeeeee;
@darkenAmount: 5%;
@graphColor1: darken(@graphColor01, @darkenAmount);
@graphColor2: darken(@graphColor02, @darkenAmount);
@graphColor3: darken(@graphColor03, @darkenAmount);
@graphColor4: darken(@graphColor04, @darkenAmount);

.lb-graph .select2-container-multi .select2-choices .select2-search-choice {
  background-color: rgba(255, 255, 255, 0.15);
  color: #fff;
  .border-radius(4px);
  .background-clip(padding-box);

  &.select2-locked {
    &,
    &:hover {
      .box-shadow(none);
      opacity: 0.6;
    }

    a,
    .word {
      &:hover {
        color: #fff;
      }
    }
  }
}

#filter-graph {
  position: relative;

  .icon-search {
    bottom: 12px;
    right: 20px;
    top: auto;
  }

  .select2-search-field {
    .base-input(1.2em);
    .search-wrapper-like(100%, 4px);

    float: none;
    position: static;
    width: 100%;
    display: block;
  }
}

#filter-graph .select2-search-field {
  input,
  .select2-input,
  .select2-focused {
    &, &:focus {
      border: 1px solid rgba(255,255,255,0.5);
    }
  }
}

.fuzzy-select2-dropdown,
.select2-drop-multi.fuzzy-select2-dropdown {
  background-color: rgba(0,0,0,0.65);
  color: #bbb;
  border-width: 0;
  .border-radius(0);

  .select2-highlighted {
    background-color: darken(#3875d7, @darkenAmount);
  }
}

.lb-graph {
  .fuzzy-select2-dropdown,
  .select2-drop-multi.fuzzy-select2-dropdown {
    background-color: transparent;
  }
}
