body {}

.chronos {
  overflow: hidden;
}

/* Bootstrap overrides */
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: rgba(255, 255, 255, 0.3);
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.left,
.middle,
.right {
  float: left;
}

.chronos .app .span5 {
  overflow-y: auto;
  overflow-x: hidden;
}

.left {
  padding-left: 50px;
  width: 300px;
  height: 100%;
  position: fixed;
}

.left footer {
  position: absolute;
  bottom: 0;
  padding-bottom: 35px;
  /*border-top: 1px solid rgba(255,255,255,0.7);*/
}

.left .width {
  width: 250px;
}

.left #logo {
  padding-top: 30px;
}

.left .nav-list {
  margin: 0;
  padding: 0;
  margin-top: 16px;
}

.left .nav-list > li {
  margin: 0;
  padding: 2px 0;
}

.nav-list .badge {
  margin-top: 1px;
  padding-top: 1px;
  /*box-shadow: inset 0 2px 2px rgba(0,0,0,0.8);*/
  background-color: rgba(255,255,255,0.2);
}

.left .nav-list > .divider {
  background-color: transparent;
  border-bottom-color: rgba(255,255,255,0.2);
}

.nav-list {
  margin-top: 15px;
}

.nav-list > li {
  margin-top: 1px;
}

.nav-list > li > a {
  padding: 3px 15px;
  color: rgba(255,255,255,0.9);
  opacity: 0.5;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: none;
  /*background: rgba(0,0,0,0.5);*/
  cursor: pointer;
}

.nav-list > li > a:hover {
  background-color: rgba(0,0,0,0.3);
}

.nav-list > .active > a {
  background-color: rgba(0,0,0,0.5);
}

.middle {
  /*width: 40%;*/
  padding-bottom: 100px;
  /*margin-left: 330px;*/
  /*margin-top: 25px;*/
}

.middle .invocation {
  text-align: right;
  padding-top: 12px;
  padding-right: 15px;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.results-header {
  background-color: white;
  font-weight: normal;
  text-transform: uppercase;
  color: rgba(0,0,0,0.6);
  font-size: 14px;
  padding-top: 12px;
  opacity: 0.9;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  cursor: pointer;
  position: fixed;
  width: 40.42553191489362%;
  z-index: 3;
  top: 20px;
}

.results-header > .span6,
.results-header > .span8,
.results-header > .span2,
.results-header > .span1 {
  white-space: nowrap;
}

.results-header > .span6 span,
.results-header > .span8 span {
  padding-left: 7px;
}

.results-header .toggle {
  font-size: 8px;
  position: relative;
  top: -2px;
}

.results-header .toggle.hide {
  display: none;
}

.chronos-wrapper,
.chronos-wrapper.blue {
  background-image: url("/images/blurry-background3.jpg");
}

.chronos-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.chronos-wrapper.red {
  background-image: url("/images/blurry-background2.jpg");
}

.app {
  width: 100%;
  height: 100%;
  /*margin: 0 auto;*/
}

.app-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.box {
  height: 100%;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.box.dark {
  background-color: rgba(33,33,33,0.7);
}

.box.light {
  background-color: rgba(255,255,255,0.5);
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.4);
  /*box-shadow: 0 2px 40px rgba(255,255,255,0.7);*/
}

#logo {
  line-height: 1em;
  margin: 0;
  color: rgba(255,255,255,0.5);
  text-align: left;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: none;
  padding-left: 15px;
  margin-top: 0;
}

.logo:hover {
  color: white;
  cursor: pointer;
}

[class^="icon-"],
[class*=" icon-"] {
  background-image: url("/images/glyphicons-halflings-white.png");
}

.middle [class*="span"] {
  min-height: auto;
}

.brand {
  padding: 0 0 0 10px;
}

.navbar {
  position: fixed;
width: 98%;
height: 140px;
margin-top: -70px;  
  margin-bottom: 35px;
  /*margin-top: 20px;*/
}

.more {
  margin-top: 80px;
}

.menu {
  /*position: fixed;*/
}

.listr {
  margin-left: 17% !Important;
}

.right-pane {
  padding: 20px 0 100px;
  overflow: scroll;
  height: 100%;
}

.job-detail .job-name {
  height: auto;
}

.job-name.owner {
}

.job-detail .small-detail {
  font-size: 18px;
}

/*.job-detail .name {
  text-transform: none;
}*/

.job-detail-view .toggle {
  cursor: pointer;
  width: 60%;
  line-height: 2.5em;
  font-size: 1.3em;
  text-transform: uppercase;
  color: rgba(255,255,255,0.2);
  padding-left: 7px;
  opacity: 0;
}

.bottom-row {
  margin-bottom: 25px;
}

.navbar-inner {
  padding-left: 0;
}

.navbar .nav.pull-right {
  margin-right: 0;
}

.clear-btn {
  background: none;
  box-shadow: none;
  text-shadow: none;
  color: rgba(255,255,255,0.5);
  font-weight: bold;
  border: 1px solid rgba(255,255,255,0.3);
}

.chronos .navbar-inner {
  background: none;
  border: none;
  box-shadow: none;
  padding-right: 0;
}

.left-wrapper {
  position: relative;
}

.left-lower-wrapper {
  height: 150px;
  width: 100%;
  color: rgba(255,255,255,0.5);
  border-top: 1px solid rgba(255,255,255,0.3);
}

.left-lower-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.left-lower-wrapper a {
  color: rgba(255,255,255,0.5);
  font-size: 11px;
}

.canvas {
  position: relative;
  padding-top: 50px;
  padding-bottom: 150px;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  box-sizing: border-box; 
}

.timeline {
  height: 100%;
  border-top: 1px solid rgba(255,255,255,0.6);
  border-bottom: 1px solid rgba(255,255,255,0.6);
  background: rgba(255,255,255,0.8);
  position: relative;
  min-height: 550px !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;    
  box-sizing: border-box; 
}

#scrubber {
  position: absolute;
  height: 101%;
  width: 1px;
  border: 1px solid rgba(0,143,213,1);
  left: 20%;
  top: -1%;
  background: rgba(0,143,213,1);
  border-radius: 20px;
  /*box-shadow: 1px 1px 2px rgba(66,66,66,0.3);*/
}

.chronos-wrapper.blue #scrubber {
  background: rgba(242,69,19,1);
  border: 1px solid rgba(242,69,19,1);
  border-left: 1px solid rgba(242,69,19,0.1);
  border-right: 1px solid rgba(242,69,19,0.1);
}

#scrubber:hover {
  cursor: move;
}

#scrubber-marker {
  /*width: 80px;*/
  /*height: 30px;*/
  background-color: #333;
  border: 1px solid #222;
  position: relative;
  top: -32px;
  font-weight: bold;
  text-align: center;
  left: -51%;
  display: table-cell;
  vertical-align: middle;
  border-radius: 5px;
  box-shadow: 1px 1px 7px rgba(0,0,0,0.7);
}

#scrubber-time {
  color: white;
  display: table-cell;
  padding: 0 8px;
  text-shadow: 0 -1px rgba(0,0,0,0.9);
}

.table-wrapper {
  /*background: black;*/
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 150px;
  overflow:hidden;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  box-sizing: border-box; 
}

.table2 {
  height: 2000px;
  /*background-color: pink;*/
}

.new-job-form {
  background-color: white;
  width: 290px;
  height: 380px;
  display: inline-block;
  border-radius: 6px;
  padding: 5px 15px 15px;
}

.new-job-form h3 {
  text-align: left;
}

.new-job-form .top-block {
  height: 160px;
}

.new-job-form .create {
  width: 100%;
}

.lightbox {
  z-index: 9999;
}

.axis-1 {
  height: 45px;
  background: rgba(255,255,255,0.5);
}

.full {
  height: 150px;
  background: rgba(255,255,255,0.5);
}

.jobs {
  list-style-type: none;
  padding: 0;
  font-size: 23px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  overflow: scroll;
}

.jobs ul {
  margin: 5px 0 10px;
  list-style-type: none;
  height: 533px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.jobs li {
  padding: 10px 6px;
  border-top: 1px solid rgba(255,255,255,0.3);
}

.job-list td {}

.joblist {
  list-style: none;
  margin: 0;
  padding: 60px 0 100px;
}

.item {
  font-size: 23px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255,255,255,0.2);
  overflow: hidden;
  padding-bottom: 0;
  display: block;
  margin-bottom: 1px;
}

.item.active {
  color: rgba(255,255,255,1);
  background-color: rgba(107,174,214,0.7);
}

.item:hover {
  cursor: pointer;
}

.item:hover .span2 {
/*  color: rgba(0,0,0,0.7);
  background-color: rgba(255,255,255,0.7);
  box-shadow: 2px 3px 6px rgba(0,0,0,0.2);*/
}

.job-name {
  text-transform: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.job-name,
.item .span2,
.item .span10 {
  /*min-height: 50px;*/
  line-height: 2em;
}

.job-name,
.item .span2 {
  padding-left: 7px;
  overflow: hidden;
  height: 46px;
  position: relative;
  padding-top: 0;
  padding-right: 10px;
  /*border-top: 1px solid rgba(255, 255, 255, 0.2);*/
  /*width: 17.0212765957%;*/
  /*padding-right: 2.127659574468085%;*/
}

.job-name.hover {
  padding-left: 7px;
  border-left: 8px solid white;
}

.invocation {
  text-align: right;
}

.count {
  display: inline-block;
  background: #446D77;
  line-height: 1em;
  padding: 3px 9px;
  font-size: 15px;
  color: rgba(255,255,255,0.6);
  border-radius: 15px;
  opacity: 0.7;
  box-shadow: inset 1px 2px 2px rgba(0,0,0,0.2);
  text-shadow: 1px 1px rgba(0,0,0,0.2);
}

.invocationCount {
  position: absolute;
  z-index: 999;
  display: block;
  top: 12px;
  right: 0;
  background: #446D77;
  line-height: 1em;
  padding: 3px 7px;
  font-size: 15px;
  border-radius: 9px;
  color: rgba(255,255,255,0.5);
}

.item .span10 {
  background-color: rgba(255,255,255,0.8);
  /*padding-top: 1px;  span2 border top */
  /*border-top: 1px solid rgba(255,255,255,0.9);*/
  /*margin-left: 0;  busting the grid a bit */
}
.details {
  background-color: rgba(255,255,255,0.8);
}

.job-details-wrapper {
/*  width: 320px;
  height: 400px;
  padding: 0 10px 10px;
  margin: 0 auto;
  text-align: left;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);*/
  margin-right: 20px;
}

.job-details-wrapper .details-wrapper {
  display: block;
}

.job-details-wrapper .save,
.job-details-wrapper .create,
.job-details-wrapper .cancel {
  display: none;
  color: rgba(255,255,255,1);
}

.job-details-wrapper .break {
  display: none;
}

.job-details-wrapper .edit-job .edit,
.job-details-wrapper .edit-job .run,
.job-details-wrapper .edit-job .delete,
.job-details-wrapper .edit-job .create,
.job-details-wrapper .edit-job .duplicate,
.job-details-wrapper .edit-job .view-graph,
.job-details-wrapper .create-job .edit,
.job-details-wrapper .create-job .run,
.job-details-wrapper .create-job .delete,
.job-details-wrapper .create-job .duplicate,
.job-details-wrapper .create-job .view-graph,
.job-details-wrapper .edit-job.create-job .save {
  display: none;
}

.job-details-wrapper .edit-job .save,
.job-details-wrapper .edit-job .cancel,
.job-details-wrapper .edit-job .break {
  display: block;
}

.job-details-wrapper .create-job .create,
.job-details-wrapper .create-job .cancel,
.job-details-wrapper .create-job .break {
  display: block;
}

.job-details-wrapper.up .toggle {
  width: 70%;
  opacity: 1;
}

.job-details-wrapper.up .details-wrapper {
  display: none;
}

.job-details-wrapper.up .nav-item {
  display: none;
}

.job-details-wrapper.up .close {
  display: block;
}

.job-details-wrapper.up .bottom-row {
  margin-bottom: 3px;
}

.lightbox-inner .content {
  display: inline-block;
}


.middle {
  position: relative;
}

.middle ::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.middle ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
.middle ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,255,255,0.3);
}
.middle ::-webkit-scrollbar-thumb:window-inactive {
  /*background: rgba(255,0,0,0.4); */
}

#templates {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.job-details-wrapper {
  margin-bottom: 5px;
}

.job-details-wrapper form {
  margin-bottom: 0;
}

.job-detail-view {
  height: 45px;
  background: rgba(0,0,0,0.5);
}

.hightlight {
  font-size: 2em;
  line-height: 1.1em;
  font-weight: 900;
  margin: 4px 0;
  color: rgba(255,255,255,0.9);
}

.job-detail-row {
  padding: 8px 0 7px;
  background: rgba(0,0,0,0.6);
  border-top: 1px solid rgba(0,0,0,0.2);
}

.job-detail {
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  color: rgba(255,255,255,0.6);
}

.job-detail > div {
  padding: 0 7px;
}

.job-detail .pseudo-field,
.job-detail .field {
  display: none;
  padding: 2px 7px 3px;
}

.job-detail .field {
  width: 100%;
}

.job-details-wrapper .create-job .no-edit .cmd,
.job-details-wrapper .edit-job.create-job .no-edit .cmd,
.job-details-wrapper .edit-job .no-edit .display,
.job-details-wrapper .edit-job .job-detail .pseudo-field,
.job-details-wrapper .edit-job .job-detail .field {
  display: block;
}

.job-details-wrapper .edit-job .display,
.job-details-wrapper .create-job .no-edit .display,
.job-details-wrapper .edit-job .no-edit .cmd {
  display: none;
}
.job-detail > .span3,
.job-detail .detail {
  font-weight: normal;
  color: rgba(255,255,255,0.4)
}

.cmd {
  font-size: 15px;
  text-transform: none;
}

.cmd.small-input {
  width: 80%;
}

.job-details-wrapper .parents-wrapper {
  display: none;
}

.job-details-wrapper .create-job .parents-wrapper {
  display: block;
}

.job-detail-nav {
  overflow: hidden;
  height: 45px;
  margin-bottom: 0;
}

.job-detail-nav .nav-item {
  height: 35px;
  padding: 10px 15px 0;
  opacity: 0.2;
  cursor: pointer;
  border-right: 1px solid rgba(0,0,0,0.7);
}

.job-detail-nav .nav-item:hover {
  opacity: 0.4;
}

.job-detail-nav .close {
  color: rgba(255,255,255,0.8);
  border-left: 1px solid rgba(0,0,0,0.9);
  border-right: none;
}

.job-detail > .span3:first-child {
  padding-left: 7px;
}

.job-detail.top {
  background-color: rgba(0,0,0,0.8);
}

.line-height {
  line-height: 1.1em;
}

.job-detail-view h3 {
  font-size: 20px;
  text-transform: uppercase;
  padding: 0 7px;
  line-height: 1em;
  color: rgba(255,255,255,0.6);
}

.stat-menu {
  text-align: right;
  padding-left: 0;
  padding-right: 0;
}

.stat-menu > li {
  padding: 15px 0;
  border-top: 1px solid rgba(255,255,255,0.2);
}

.stat-menu > li:first-child {
  padding-top: 5px;
  border-top: none;
}

.stat-count {
  font-size: 60px;
  line-height: 1em;
  font-weight: 900;
  color: rgba(255,255,255,0.7);
}

.stat-label {
  text-transform: uppercase;
  font-size: 20px;
  color: rgba(0,0,0,0.4);
  margin-top: 1px;
}

.width {
  width: 100%;
  margin-left: 10px;
}

.results {
  height: 100%;
  overflow: scroll;
}

.sched .small-input {
  float: left;
  width: 20%;
}

.schedule {
  font-size: 1.5em;
}

/*.sched .repeats.small-input {*/
  /*width: 16%;*/
/*}*/

.sched .break {
  width: 10px;
  padding-top: 10px;
  text-align: center;
}

.job-detail h2 {
  text-transform: none;
  white-space: normal;
  word-wrap: break-word;
}
