/**
 * Graph wrapper
 *
 */

.graph-wrapper {
  width: 96%;
  height: 96%;
  background-color: #111;
}

.graph-wrapper .nav-item {
  height: 35px;
  padding: 10px 15px 0;
  opacity: 0.4;
  cursor: pointer;
  border-right: 1px solid rgba(0,0,0,0.7);
  color: white;
  font-size: 20px;
}

.graph-wrapper .nav-item.form-item,
.graph-wrapper .nav-item.form-item:hover {
  opacity: 0.9;
}

/**
 * Graph area container
 *
 */
.graph-area {
  position: relative;
}

.span12.graph-area-container {
  position: absolute;
  margin-left: 0;
  z-index: 1;
}

.span3.graph-filter-container,
.graph-toggle {
  z-index: 2;
}

.span3.graph-filter-container {
  position: fixed;
}

/**
 * SVG styles for the dependency graph
 *
 */

.hover marker,
#arrowhead path,
#arrowhead-hover path,
.link {
  stroke: #ccc;
  fill: #ccc;
  stroke-width: 2px;
}

.link.fake-link {
  stroke: transparent;
  opacity: 0.0;
}

.graph-area {
  .node text {
    pointer-events: none;
    font: 18px @sansFontFamily;
    fill: #FFFFFF;
  }

  .node text.subtitle {
    display: none;
  }
  .node text.inv-subtitle {
    display: block;
  }

  .node text.inv-subtitle,
  .node text.subtitle {
    font-size: 13px;
  }

  .node.hover {
    text.subtitle {
      display: block;
    }

    text.inv-subtitle {
      display: none;
    }
  }

  .node.hover text.shadow {
    display: block;
  }

  .node circle {
    fill: #24343F;
  }

  .node .fail {
    fill: red;
  }

  .node:hover circle {
    border: #000;
    border-width: 2px;
  }
}

svg path.area {
  opacity: 0.4
}

.graph-viz-view {

  text {
    font-family: @sansFontFamily;
    font-size: 14px;
  }

  .node {
    cursor: pointer;
  }

  text.last-run-time,
  .node ellipse {
    fill: #fff;
  }

  .node.success {
    ellipse {
      fill: green;
    }
  }

  .node.fail {
    ellipse {
      fill: red;
    }

    text {
    }
  }

  @myWhite: rgba(255, 255, 255, 0.6);
  g.edge {
    path,
    polygon {
      stroke: @myWhite;
    }

    polygon {
      fill: @myWhite;
    }
  }
}

.graph-area,
.graph-viz-view {
  .node text.shadow {
    stroke: #333;
    stroke-width: 4px;
    stroke-opacity: 0.6;
  }
}

.graph-viz-view .node text.shadow {
  stroke: #000;
  stroke-opacity: 0.8;
}

.graph-wrapper .search-wrapper {
  .makeColumn(2);
}

svg.box {
  height: 50px;

  line,
  rect {
    fill: none;
    stroke: #000;
  }

  text {
    fill: #fff;
  }
}
