.base-input-styles(@font-size: 2em) {
  display: inline-block;
  font-size: @font-size;
  background: none;
  border: none;
  color: white;
  padding: 0;
  outline: none;
  padding: 8px;
  .box-shadow(inset 1px 1px 9px rgba(0,0,0,0.4));
}

.base-input(@font-size: 2em) {
  input {
    .base-input-styles(@font-size);
  }
}

.field-input-hover-state {
  &:hover {
    color: @fieldHoverColor;
  }
}

.field-input-styles {
  &,
  &[readonly],
  &[disabled],
  &[type="text"] {
    width: 95%;
    font-weight: 900;

    .field-input-hover-state;
  }
}

.field-input {
  input,
  input[readonly],
  input[disabled],
  input[type="text"] {
    text-transform: uppercase;
    .field-input-styles;
  }
}

.cmd-input {
  &.cmd input {
    font-size: 15px;
    text-transform: none;
  }
}


/** Search-wrapper like **/
.search-wrapper-like(@input-width: 89%, @border-radius: 20px) {

  form {
    background: transparent;
    margin: 0;
    padding: 0;
    border: none;
    display: block;
  }

  input,
  input:focus {
    background: transparent;
    outline: none;
    border: none;
    display: block;
    .border-radius(@border-radius);
    .box-shadow(none);
    float: left;
    margin: 0;
    box-sizing: border-box;
    padding-right: 20px;
    color: rgba(255, 255, 255, 0.5);
    padding-right: 3px;
    min-height: 30px;
    width: @input-width !important;
  }

  input:focus {
    display: block;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.5);
  }
}

.inline-block() {
  display: inline-block;
  .ie7-inline-block;
}

.inline-form() {
  .small-input label,
  .small-input input {
    .inline-block;
  }
}
