{{#data}}
<div data-select2-id="{{id}}">
  <span class="word" {{#locked}}
        data-toggle="tooltip"
        data-title="Associated with {{lockedFor}}"
        data-container=".lightbox-inner"
        {{/locked}}>{{text}}</span>
</div>
{{/data}}
