---
layout: default
---

<div class="row">
  <div class="col-sm-3">
    <h5>Welcome</h5>
    <ul class="list-unstyled">
      <li>
        <a href="{{ site.baseurl }}/docs/">
          Overview
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/docs/getting-started.html">
          Getting Started
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/docs/contributing.html">
          Contributing
        </a>
      </li>
    </ul>
    <hr>
    <h5>Developing</h5>
    <ul class="list-unstyled">
      <li>
        <a href="{{ site.baseurl }}/docs/webui.html">
          Web UI
        </a>
      </li>
    </ul>
    <hr>
    <h5>Reference</h5>
    <ul class="list-unstyled">
      <li>
        <a href="{{ site.baseurl }}/docs/configuration.html">
            Configuration
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/docs/debugging.html">
            Debugging
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/docs/authentication.html">
            Framework Authentication
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/docs/job-management.html">
            Job Management
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/docs/faq.html">
            FAQ
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/docs/api.html">
            REST API
        </a>
      </li>
    </ul>
  </div>
  <div class="col-sm-9">
    {{ content }}
  </div>
</div>
